.contenedor{
    width: 100%;
    height:100vh;
    display: flex; 
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    background-size: 100% 100%;
    background-position: center;
    background: linear-gradient(300deg, var(--third-bis-color) 0%, var(--bg-input-color) 60% ,var(--primary-color)100%);
    color:var(--text-color);
    padding: 100px;
}


.logo {
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0));
}

.logo img { 
    width: 500px;
    height: auto;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.19);
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0));
}

.center{
    width: 85%;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
}

.container{
    color: whitesmoke;
    margin-left: 2vw;
    margin-right: 15vw;
}

.butt0{
    border: 2px solid var(--neon-color);
    color: whitesmoke;
    background: var(--bg-input-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.butt0:hover{
    border:  2px solid var(--bg-input-color);
    background: var(--neon-color);
}

.titulo{
    font-size: 50px;
}

.sub{
    font-size: 20px;
}


