.cuerpo {
    margin:8;
    background-color: var(--bg-color);
}

.profilecard {
    background-color: var(--text-color);
    border: 1px solid var(--neon-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 250vw;
    max-width: 800px;
    text-align: center;
}

.profilecard img{
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.profilecontainer {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20vw;
}


.profileheading {
    text-align: center;
    color:var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0 1px 1px #000000;
}


.profiletext {
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 10px;
}


.btnlogin {
    font-size: 15px;
}

.profilebutton:hover {
    background: var(--third-bis-color);
    align-items: center;
}

.profilebutton {
    border:none;
    width: 100%;
    color:  var(--text-color);
    font-size: 20px;
    background:var(--bg-input-color);
    padding: 15px 20px ;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.errormessage {
    color: red;
    margin-bottom: 10px;
}

.loadingmessage {
    font-size: 16px;
    color: var(--third-bis-color);
}