.logo {
    cursor: pointer;
    padding-bottom: 8px; 
}

.logo img {
    height: 100px; 
    width: auto;
}

.logo img:hover {
    transform: scale(1.2);
}

.sidebar_nav {
    justify-content: center;
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow: hidden;
    padding: 10px; 
    box-shadow: 3px 4px 10px var(--third-bis-color); 
    text-decoration: none;
}

.sidebar_nav .enlacesa {
    padding: 8px; 
    text-shadow: 2px 1px 4px #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px; 
    color: var(--third-bis-color);
    display: block;
    text-align: justify;
    margin-bottom: 8px;
}

.sidebar_nav .enlacesa:hover {
    color: var(--neon-color);
    background-color: var(--bg-color);
    border-radius: 8px; 
    box-shadow: 3px 4px 5px var(--third-bis-color); 
    text-decoration: none;
}

.sidebar_nav i {
    margin-right: 26px; 
}


@media (max-width: 768px) {
    .sidebar_nav {
        width: 20vw;
        padding: 1vh;
    }

    .sidebar_nav .enlacesa {
        font-size: 1vh;
    }

    .logo img {
        height: 6vh;
    }
}

@media (max-width: 576px) {
    .sidebar_nav {
        width: 25vw;
        padding: 0.8vh;
    }

    .sidebar_nav .enlacesa {
        font-size: 0.8vh;
    }

    .logo img {
        height: 5vh;
    }
}
