.songlistcontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    margin-left: 200px;
    color: var(--text-color);
    font-family: "Titillium Web", sans-serif;
}

.songlistcontainer h1{
    color: var(--bg-input-color);
    text-shadow: 2px 2px 4px var(--neon-new);

    font-weight: bold;
    padding: 0.5vw;
  
    margin-top: 10px;
    box-shadow: 3px 5px var(--bg-input-color);
    font-size: xx-large;
    display: inline;
    background: var(--third-bis-color);
    
}

.paginationbuttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paginationbuttons button{
    color: var(--text-color);
    padding: 9px 25px;
    background: linear-gradient(to bottom right,  var(--third-color), var(--third-bis-color) , var(--bg-input-color));
    border: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-color: var(--neon-color);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 0.2em 0 0.2em;
    font-size: large;
}

.paginationbuttons button:hover {
    background-color: var(--text-color);
    color: var(--third-color);
    transform: scale(1.1);
}

.pagenumber {
    margin-left: 25px;
    margin-right: 25px;
}

table {
    width: 100%;
}

table a {
    color: var(--neon-color);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

table tr {
    border-radius: 5px;
    background-color: var(--bg-input-color);
    border: var(--bg-input-color);
}

table th{
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--third-color);
}


table td {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    border: 1px solid var(--bg-input-color);
}

table thead th {
    text-transform: uppercase;
    background-color: var(--third-bis-color);
}

table td img {
    width: 15vw;
    height: auto;
}

table tbody tr:hover {
    background-color: rgba(19, 225, 70 , 0.2);
}

table tbody td:hover {
    background-color: rgba(19, 225, 70 , 0.2);
}


table td button {
    color: var(--text-color);
    padding: 9px 25px;
    background: linear-gradient(to bottom right,  var(--third-color), var(--third-bis-color) , var(--bg-input-color));
    border: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-color: var(--neon-color);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 0.2em 0 0.2em;
    font-size: small;
}

table td  button:hover {
    background-color: var(--text-color);
    color: var(--third-color);
    transform: scale(1.1);
}