

.my5 {
    background: var(--bg-input-color);
    padding-left: 10vw;
    padding-right: 10vw;
    border: 3px solid var(--primary-color);
}

.conte {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.cuer{
    display: flex;
    margin-left: 200px;
    justify-content:center;
    width: 60%;
}

.column{
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
}

.title2{
    text-align: center;
    color: var(--neon-color);
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title{
    text-align: center;
    color: var(--neon-new);
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardcontent {
    background: var(--primary-color);
    border: 5px solid var(--secondary-color);
    padding: 150px;
    color: var(--text-color);
    font-size: large;
}

.genre-card {
    display: flex;
    justify-content: center;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.button {
    border:none;
    width: 100%;
    color:  var(--text-color);
    font-size: 20px;
    background: var(--third-bis-color);
    padding: 15px 20px ;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button:hover {
    background:var(--primary-color);
    align-items: center;
}