:root {
    --bg-color: #1c232e;
    --primary-color: #03484c;
    --secondary-color: #0f684b;
    --third-color: #3b8952;
    --third-bis-color: #53ac59;
    --bg-input-color: #2D2D2D;
    --text-color: whitesmoke;
    --neon-color: #F00BB8;
}

.cuerpo {
    margin:8;
    background-color: var(--bg-color);
}
/* Card Container */
.profile-card {
    background-color: var(--text-color);
    border: 1px solid var(--neon-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 250vw;
    max-width: 800px;
    text-align: center;
}

.profile-card img{
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Adjust Container Styles */
.profile-container {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* Heading Styles */
.profile-heading {
    text-align: center;
    color:var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

/* Paragraph Styles */
.profile-text {
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Button Styles */
.btn-login {
    font-size: 15px;
}

/* Container for Buttons aligned horizontally, with space between */
.profile-button:hover {
    background: var(--third-bis-color);
    align-items: center;
}

.profile-button {
    border:none;
    width: 100%;
    color:  var(--text-color);
    font-size: 20px;
    background:var(--bg-input-color);
    padding: 15px 20px ;
    border-radius: 5px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Error Message Styles */
.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Loading Message Styles */
.loading-message {
    font-size: 16px;
    color: #666;
}